apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-postgres
  labels:
    app: {{ .Release.Name }}-postgres
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: postgres
    protocol: TCP
    name: postgres
  selector:
    app: {{ .Release.Name }}-postgres
  # StatefulSet needs headless service for stable network identity
  clusterIP: None
