apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: nats
  namespace: {{ .Release.Namespace }}
  labels:
    app: nats
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: nats
  serviceName: nats 
  template:
    metadata:
      labels:
        app: nats
    spec:
      containers:
      - name: nats
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 4222
          name: client
        - containerPort: 6222
          name: cluster
        - containerPort: 8222
          name: monitor
        command:
        - nats-server
        - --config
        - /etc/nats/nats.conf

        volumeMounts:
        - name: config
          mountPath: /etc/nats
        resources:
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
        livenessProbe:
          httpGet:
            path: /
            port: 8222
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8222
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
      - name: config
        configMap:
          name: nats-config

