apiVersion: v1
kind: Service
metadata:
  name: taskboard-task-service
  namespace: {{ .Release.Namespace }}
  labels:
    app: task-service
spec:
  type: ClusterIP
  ports:
  - port: 50051
    targetPort: 50051
    protocol: TCP
    name: grpc
  selector:
    app: task-service
