apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-task-service
  labels:
    app: {{ .Release.Name }}-task-service
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: grpc
    protocol: TCP
    name: grpc
  selector:
    app: {{ .Release.Name }}-task-service
